
header{
	background-color: #4173ba;
	color: #fff;	
	text-align: right;
	padding: 15px;
}

header h2 {
	background-color: #fff;
	color: #000;
	padding-right: 5px;
}

header .about-me p{
	margin: 0;
}

header .about-me a {
	color: #fff;
}

header .photo{
	border: 2px solid #fff;
	padding: 5px 0;	
	border-radius: 50%;
	width: 174px;
	margin: 10px auto;
}

header .photo img{
	border: 5px solid #fff;
	margin: 0 auto;	
}

.panel-heading img{
	display: inline-block;
	height: 30px;
}

.panel-heading h4 {
	display: inline-block;
    padding: 10px 10px 0 10px;
    font-weight: bold;
}

.panel a {
	font-weight: bold;
    color: #286090;
}

h1, h2, h3 {
	font-family: "Impact";
    text-transform: uppercase;
}

.container-panel{
	margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding: 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    box-sizing: border-box;
}

main .education {
	background-color: #d2d3d7;
}

main .education-title{
	text-align: right;
}

main a {
	text-decoration: none;
	color: #000;
}

.work-experience h5, 
.work-experience h6 {
	color: #fff;
}

.work-experience h3.work-title{
	color: #4173ba;
}

.work-experience .panel {
	background-color: #4173ba;
}

.work-experience p span {
	background-color: #d2d3d7;
	margin: 0 3px;
}

main div.legenda {
	border: 1px solid #4173ba;
}

div.legenda .legenda-linha{
	display: table-row;
}

main .legenda .niveis{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #4173ba;
}

main .skills {
	display: table;
	background-color: #d2d3d7;
	height: auto;
}

main .skills h3{
	display: table-header-group;
}

main .skills > div{
	display: table-row;
}

main .skills .devicons{
	font-size: 30px;
}

main .skills span[class^='icon-adb'],	
main .skills .glyphicon,
main .skills span[class^='office365-'] {
	font-size: 25px;
	padding: 3px 0; 
}

main .skills span {
	display: table-cell;
	text-align: left;
}

main span.nivel {
	border: 1px solid #000;
	border-radius: 50%;
	width: 10px;
    height: 10px;
    display: inline-block;
    box-shadow: 2px 1px 1px #000;
}

main span.nivel-completo {
	background-color: #000;
}

footer {
	background-color: #4173ba;
}

footer a {
	color: #fff;
}

footer .link-rede {
	display: none;
}

footer span:before{
	font-size: 30px;
}