@font-face {
	font-family: Impact Externa;
	src: url("../fonts/impact.woff");	
}


header{
	background-color: #4173ba;
	color: #fff;	
	text-align: right;
}

h2, h3	{
	font-family: Impact, Impact Externa;
    text-transform: uppercase;
}

header h2 {
	margin: 0 13px 13px;
}

header h3 {
	background-color: #fff;
	color: #000;
	padding: 5px;
	margin: 0 13px;
}

header .about-me{
	padding: 13px;
}


header .about-me p{
	margin: 0;
}

header .about-me a {
	color: #fff;
}

header .photo{
	border: 2px solid #fff;
	padding: 5px;	
	border-radius: 50%;
	width: 174px;
	margin: 0 auto;
}

header .photo img{
	border: 5px solid #fff;
}

.panel-heading img{
	display: inline-block;
	height: 30px;
}

.panel-heading h4 {
	display: inline-block;
    padding: 10px 10px 0 10px;
    font-weight: bold;
}

.panel a {
	font-weight: bold;
    color: #286090;
}

main .container-columns{
	display: flex;
	flex-wrap: wrap;
}

main .container-columns > div{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 320px;
}

main .container-panel{
	margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding: 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    box-sizing: border-box;
}

main .education {
	background-color: #d2d3d7;
}

main .education-title{
	text-align: right;
}

main a {
	text-decoration: none;
	color: #000;
}

.work-experience h5, 
.work-experience h6 {
	color: #fff;
}

.work-experience h3.work-title{
	color: #4173ba;
}

.work-experience .panel {
	background-color: #4173ba;
}

.work-experience p span {
	background-color: #d2d3d7;
	margin: 0 3px;
}

main .skills {
	text-align: center;
	color: #000;
	padding: 10px;
}

main .skills table{
	background-color: #d2d3d7;
}

main .skills th,  
main .skills td {
	vertical-align: middle;
	text-align: center;
}

main .skills .devicons{
	font-size: 30px;
}

main .skills span[class^='icon-adb'],	
main .skills .glyphicon,
main .skills span[class^='office365-'] {
	font-size: 25px;
}

main span.nivel {
	border: 1px solid #000;
	border-radius: 50%;
	width: 10px;
    height: 10px;
    display: inline-block;
    box-shadow: 2px 1px 1px #000;
}

main span.nivel-completo {
	background-color: #000;
}

main .developing-jobs{
	margin: 10px auto;
	max-width: 1126px;
}

.developing-jobs .carousel-caption h3 {
	-webkit-text-stroke: 1px rgba(0, 0, 0, .7);
}

.developing-jobs .carousel-caption p {
	background-color: rgba(0, 0, 0, .4);
}

.developing-jobs .carousel-control .glyphicon{
	background-color: rgba(65, 115, 186, .7);
	border-radius: 50%;	
	padding: 5px;
}

.developing-jobs .carousel-indicators li {
	border: 1px solid #4173ba;
}

footer {
	background-color: #4173ba;
	padding: 15px;
	margin-top: 25px;
	text-align: center; 
}

footer a {
	display: inline-block;
	color: #fff;
	padding: 5px;
}

footer span {
	padding: 5px;
}

footer .link-rede {
	display: none; 
}

footer span:before{
	font-size: 28px;
}
