
@media (min-width: 560px){
	header .photo {
		position: absolute;
		top: 5px ;
	}

	header .subtitulo {
		padding-left: 30px;
	}
	
	footer .link-rede{
		display: inline-block;
	}
}

@media (min-width: 768px){
	main .developing-jobs .carousel-control .glyphicon{
		padding: 20px;
	}

	main .developing-jobs .carousel-control .glyphicon:before{
		position: absolute;
	    top: 5px;
	    left: 5px;
	}	
}


