
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="http://www.fals.com.br/" target="_blank">
				<img class="img-responsive" src="images/logo-fals.png" alt="institution logo">
				<h4 class="panel-title">Faculdade do Litoral Sul Paulista - FALS</h4>
			</a>
		</div>
		<div class="panel-body">
			<h5 class="curso-fals">Information systems</h5>
			<h6 class="local">Praia Grande/São Paulo - Brazil</h6>
			<h6 class="date-fals">February 2008 - December 2011</h6>
			<div class="panel-group">
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-11">Principles of algorithm developmentimo I</td>
							<td>2008/1</td>
							<td>72</td>
						</tr>
						<tr>
							<td class="materia-fals-12">Probability and statistics I</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-13">Methodology of research I</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-14">Mathematics</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-15">Calculation I</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-16">Technical and business Portuguese</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-17">Technical English I</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-18">Introduction to computing</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-19">Fundamentals of Information Systems I</td>
							<td>2008/1</td>
							<td>36</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="table-footer">
							<td colspan="2">Total</td>
							<td>360</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-21">Methodology of research II</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-22">Mathematical logic</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-23">Principles of research II</td>
							<td>2008/2</td>
							<td>72</td>
						</tr>
						<tr>
							<td class="materia-fals-24">Computer Architecture</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-25">Calculation II</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-26">Fundamentals of Information System II</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-27">Probability and statistics II</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-28">English II</td>
							<td>2008/2</td>
							<td>36</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>360</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-31">Data structure I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-32">Database I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-33">Software engineering I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-34">Methods in computational mathematics I</td>
							<td>2009/1</td>
							<td>72</td>
						</tr>
						<tr>
							<td class="materia-fals-35">Computer networks I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-36">Administration I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-37">Computer and society</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-38">Logic and programming I</td>
							<td>2009/1</td>
							<td>72</td>
						</tr>
						<tr>
							<td class="materia-fals-39">Operating Systems I</td>
							<td>2009/1</td>
							<td>36</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>396</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-41">Software engineering II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-42">Operating Systems II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-43">Programming language II</td>
							<td>2009/2</td>
							<td>72</td>
						</tr>
						<tr>
							<td class="materia-fals-44">Methods in Computational Mathematics II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-45">Computer Networks II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-46">Data structure II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-47">Database II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-48">Administration II</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
						<tr>
							<td class="materia-fals-49">Economics applied to technology area</td>
							<td>2009/2</td>
							<td>36</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>360</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-51">Programming language III</td>
							<td>2010/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-52">Project management</td>
							<td>2010/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-53">Operational Research</td>
							<td>2010/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-54">Distributed systems</td>
							<td>2010/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-55">Complementary activities I</td>
							<td>2010/1</td>
							<td>60</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>380</td>	
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-61">Programming language IV</td>
							<td>2010/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-62">Artificial intelligence</td>
							<td>2010/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-63">Complementary Activities II</td>
							<td>2010/2</td>
							<td>60</td>
						</tr>
						<tr>
							<td class="materia-fals-64">Computer Graphics (CG)</td>
							<td>2010/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-65">Database design</td>
							<td>2010/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-66">Software Project</td>
							<td>2010/2</td>
							<td>80</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>460</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-71">Management Information Systems</td>
							<td>2011/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-72">Scientific initiation project I</td>
							<td>2011/1</td>
							<td>40</td>
						</tr>
						<tr>
							<td class="materia-fals-73">Completion of course work I (TCC)</td>
							<td>2011/1</td>
							<td>60</td>
						</tr>
						<tr>
							<td class="materia-fals-74">Supervised internship I</td>
							<td>2011/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-75">Complementary Activities III</td>
							<td>2011/1</td>
							<td>40</td>
						</tr>
						<tr>
							<td class="materia-fals-76">Software and information quality</td>
							<td>2011/1</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-77">Process and engineering modelinga de requisitos</td>
							<td>2011/1</td>
							<td>80</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>460</td>
						</tr>
					</tfoot>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th class="disciplinas">Course</th>
							<th class="semestres">Academic Semesters</th>
							<th class="carga-horaria">Hours of study</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="materia-fals-81">Topics in information systems</td>
							<td>2011/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-82">Complementary Activities IV</td>
							<td>2011/2</td>
							<td>40</td>
						</tr>
						<tr>
							<td class="materia-fals-83">Feasibility of system projectss de informação e técnologia da informação</td>
							<td>2011/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-84">Security of information systems</td>
							<td>2011/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-85">Information Technology Governance</td>
							<td>2011/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-86">Supervised internship II</td>
							<td>2011/2</td>
							<td>80</td>
						</tr>
						<tr>
							<td class="materia-fals-87">Scientific initiation project II</td>
							<td>2011/2</td>
							<td>40</td>
						</tr>
						<tr>
							<td class="materia-fals-88">Completion of course work II (TCC)</td>
							<td>2011/2</td>
							<td>60</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Total</td>
							<td>540</td>
						</tr>
					</tfoot>
				</table>
				<button class="btn btn-primary" onclick="loadHome()">
					<span class="glyphicon glyphicon-menu-left"></span>
					<span class="back">Back</span>
				</button>
				<button class="btn btn-info" onclick="goToHeader()">
					<span class="glyphicon glyphicon-menu-up"></span>
					<span class="top">Top</span>
				</button>
			</div>
		</div>
	</div>