/*--about--*/
.about{
padding:60px 0 25px 0;
}
.about h3{
margin:0;
color:#2b2b2b;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}
.strip{
  margin: 28px 0 0px 0;
}
.about p,
.about .highlights-list {
margin:45px 0 0 0;
color:#888b90;
font-size:18px;
font-family: 'Lato', sans-serif;
line-height:1.8em;
}
.about .highlights-list li{
  list-style-type: circle;
  display: list-item;
  text-align: left;
  margin-left: 20px;
}
.about ul{
padding:0;
margin:45px 0 0 0;
}
.about ul li{
list-style-type:none;
display:inline-block;
margin-right:25px;
}
.about ul li a.fb{
background: url("./images/icons.png") no-repeat 0px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.twit{
background: url("./images/icons.png") no-repeat -99px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.twit:hover{
background: url("./images/icons.png") no-repeat -99px -71px;
}
.about ul li a.in{
background: url("./images/icons.png") no-repeat -199px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.in:hover{
background: url("./images/icons.png") no-repeat -199px -71px;
}
.about ul li a.insta{
background: url("./images/icons.png") no-repeat -299px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.insta:hover{
background: url("./images/icons.png") no-repeat -299px -71px;
}
.about ul li a.git{
background: url("./images/icons.png") no-repeat -399px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.git:hover{
background: url("./images/icons.png") no-repeat -399px -71px;
}
.about ul li a.you{
background: url("./images/icons.png") no-repeat -499px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.you:hover{
background: url("./images/icons.png") no-repeat -499px -71px;
}
.about ul li a.fb:hover{
background: url("./images/icons.png") no-repeat 0px -71px;
}
/*--//about--*/