/*-- footer --*/
.footer{
background:#888b90;
padding:40px 0;
}
.footer p{
text-align:center;
font-family: 'Lato', sans-serif;
margin:0 0 0px 0;
font-size:18px;
color:#ffffff;
font-weight:400;
}
.footer p a{
color:#52edc7;
}
.footer p a:hover{
color:#ffffff;
}
/*-- //footer --*/
.footer-top{
	background: url("./images/footer.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:188px;
}

.my-skill-back{
background: url("./images/myskill-b.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:93px;
}
.about-back{
background: url("./images/about-b.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:102px;
}
.strip-border{
background:#eeeeee;
}
.strip-border p{
margin:0;
width:15%;
margin:0 auto;
height:2px;
background:#dcdcdf;
}
/*-- single-page --*/
.page-head {
  min-height: 140px;
}
.sam-head h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.sample-page {
	padding: 60px 0;
}
.sample-page-left {
  	margin-top: 50px;
}
.sample-page-right {
  	margin-top: 50px;
}
.sample-page-info h5 {
  	font-size: 20px;
  	font-weight: 500;
  	margin: 20px 0;
  	color:#52edc7;
  	line-height: 1.6em;
}
.sample-page-info p{
  margin:0;
  line-height: 1.8em;
  color: #888b90;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.sample-page  img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
}
.sample-page-info img {
  	width: 100%;
}
.comments h4{
 color: #2b2b2b;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 600;
}
.recent-posts h4{
  color: #2b2b2b;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 600;
  }
.posts-left {
  width: 48%;
  float: left;
}
.posts-right {
  width: 48%;
  float: right;
}
.posts-left img{
width:100%;
}
.comment-icons {
	border-top: 1px dotted #858d94 ;
	border-bottom: 1px dotted #858d94;
	padding: 12px 0;
	margin: 30px 0;
}

.comment-icons ul li span {
  	background: url("./images/comment.png") no-repeat;
  	width: 16px;
  	height: 16px;
  	display: inline-block;
  	vertical-align: middle;
  	margin-right: 10px;
}
.comment-icons ul li span.d{
	background-position:0px 0px;
}
.comment-icons ul li span.clndr{
	background-position:-16px 0px;
}
.comment-icons ul li span.admin{
	background-position:-32px 0px;
}
.comment-icons ul li span.cmnts{
	background-position:-48px 0px;
}
.comment-icons ul li span.like{
	background-position:-64px 0px;
}
.comment-icons ul{
	margin: 0;
	padding: 0;
}
.comment-icons ul li{
	list-style-type:none;
	display:inline-block;
	margin: 12px 20px 12px 0;
	color:#2b2b2b;
	font-size: 15px;
	font-weight: 500;
}
.comment-icons ul li a{
	color: #2b2b2b;
	
}
.comment-icons ul li a:hover{
	color:#52edc7;
	text-decoration:none;
	transition:.5s all;
}
.read-more {
	margin: 10px 0 0 0;
}
.read-more a {
   font-family: 'Lato', sans-serif;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  background: #f1c40f;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom: 2px solid #b8950a;
}
.read-more a:hover{
	text-decoration:none;
	transition: .5s all;
	outline: none;
	color: #ffffff;
}
.category ul {
  	margin: 30px 0 30px 0;
  	padding: 0;
}
.category ul li{
  list-style-type: none;
  line-height:2em;
  color: #888b90;
  font-size: 18px;
  font-weight: 300;
  background: url("./images/mark.png") no-repeat 0px 12px;
  font-family: 'Lato', sans-serif;
  padding-left: 28px;
}
.category h4{
color:#2b2b2b;
margin:0;
font-size:20px;
font-weight:600;

}
.category ul li a{
  color: #888b90;
}
.category ul li a:hover{
	transition:.5s all;
	color:#52edc7;
	text-decoration:none;
}
.recent-posts-info {
  	margin-bottom: 3em;
}

.posts-right lable {
	font-size: 14px;
	font-weight: 600;
	color: #2b2b2b;
}
.posts-right h5 {
	font-size: 16px;
	font-weight: 600;	
	margin: 7px 0;
}
.posts-right h5 a{	
	color: #52edc7;
	transition:.5s all;
	text-decoration:none;
}
.posts-right h5 a:hover{	
	color: #2b2b2b;
	text-decoration:none;	
}
.posts-right p {
   margin: 0 0 12px 0;
  color: #888b90;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8em;
}
.comments-info {
  	margin: 2.7em 0;
}
.comments-info p {
margin: 12px 0 0 0;
  color: #2b2b2b;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8em;
}
.cmnt-icon-left {
	float: left;
	width: 30%;
}
.cmnt-icon-right {
	float: right;
	  width: 70%;
}
.cmnt-icon-right p {
	color: #2b2b2b;
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: 600;
}
.cmnt-icon-right p a {
  color: #52edc7;
 
  text-decoration:none;
}
.cmnt-icon-right p a:hover{
 color: #2b2b2b;
  text-decoration:none;
  transition:.5s all;
}
.admin-text {
	border:1px dotted #353a3f;
	padding: 2em;
}
.admin-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 10px 0;
	color: #2b2b2b;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-right p,.response-text-right p {
	color: #2b2b2b;
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 13px;
	font-weight:400;
}
.admin-text-right span {
	color:#2b2b2b;
	font-weight: 600;
	font-size: 15px;
}
.admin-text-right span a {
  color: #2b2b2b;
  text-decoration:none;
}
.admin-text-right span a:hover{
  color: #52edc7;
  transition:.5s all;
}
.related-posts-grids {
	float: left;
	width: 30%;
	margin-left: 10px;
}
.response h4{
  color: #2b2b2b;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 600;
}
.related-posts-grids img{
	width:100%;
}
.related-posts-grids h5 {
	font-size: 15px;
	font-weight: 600;
	margin: .5em 0;
	color: #1C90F4;
}
.response-info {
	padding: 2em;
	border: 1px dotted #353a3f;
}
.response-info:nth-child(2){
	border-bottom:none;
}
.response-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}
.response-text-left h5 a {
  text-decoration: none;
  color: #52edc7;
}
.response-text-left h5 a:hover{
  text-decoration: none;
  color:#2b2b2b;
  transition:.5s all;
}
.response-text-left {
	float: left;
	width: 11%;
}
.response-text-left h5{
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	margin: 1em 0 0 0;
}
.response-text-right {
	float: right;
	width: 86%;
}
.response-text-right p {
	color: #2b2b2b;
	margin: 0 0 1.5em 0;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.8em;
}
.response-text-right ul{
	padding:0;	
	text-align: right;
	margin-bottom:0;
}
.response-text-right ul li{
	display:inline-block;	
	color:#2b2b2b;
	margin-right: 1em;
	font-size: 14px;
}
.response-text-right ul li a{
	color:#2b2b2b;	
	font-size: 14px;
}
.response-text-right ul li a:hover{
	color:#52edc7;
	transition:.5s all;
	text-decoration:none;
}
.coment-form h4{
  color: #2b2b2b;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 600;

}
.coment-form input[type="text"] {
	  border: 3px solid #2b2b2b;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  width: 47.65%;
  outline: none;
  padding: 14px;
  font-size: 18px;
  font-weight: 300;
  color: #2b2b2b;
  margin: 0 29px 29px 0;
}

.coment-form textarea {
	border: 3px solid #2b2b2b;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 200px;
  outline: none;
  font-weight: 300;
  font-size: 18px;
  color: #2b2b2b;
  resize: none;
  padding: 14px;
  margin-bottom: 29px;
}
.coment-form input[type="submit"] {
  font-family: 'Lato', sans-serif;
  background: url("./images/mess.png") no-repeat 81px 14px;
  width: 49%;
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  color:#2b2b2b;
  border: 3px solid #2b2b2b;
}
.coment-form input[type="submit"]:hover{
	border:3px solid #52edc7;
}
/*-- //single-page --*/
/*-- to-top --*/
.toTop {
	display: inline;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("./images/arr.png") no-repeat 0px 0px;
}
.toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
.row{
margin-left:0;
margin-right:0;
}
.posts-right label {
  font-size: 16px;
}
.strip a{
background:none;
border:none;
}