.gallery-section{
  background: url("./images/port-back.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
  min-height: 2000px;
  padding: 140px 0 0px 0;
  
  @media (min-width: 768px){
    min-height: 1404px;
  }
}
#portfolio p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}

.gallery-grids {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-section h3{
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 14px;
}
.gallery-grid {
  padding: 0;
  max-width: 380px;

  @media (max-width: 1024px) {
    max-width: 284px;
  }
}
.gallery1 {
  position: relative;
  
  .textbox {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color:rgba(82, 237, 199, 0.5);
  }
  
  &:hover .textbox {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gallery-grid img{
  width:100%;
}

.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.textbox h4 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #fff;
  margin-top: 115px;
}
.textbox p {
  font-size: 12px !important;
  color: #fff;
  font-weight:500 !important;
  margin:6px 0 0 0!important;
}

.button:hover{
  border: 2px solid #000;
}
.button {
  border: 2px solid #fff;
  padding: 10px;
  width: 34%;
  cursor:pointer;
  text-align:center;
  margin: 20px auto 0 auto;
}
.button a {
  display:block;
  color:#fff;
  font-family: 'Lato', sans-serif;
  font-size:18px;
  font-weight:700;
}
.button a:hover{
  color: #000;
}