body {
  background-image:url('../images/background.jpg');
  background-size:cover;
  background-blend-mode:soft-light;
  background-color:#333;
  background-position: left bottom;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover, a:focus,
.link-format:hover, .link-format:focus {
  color: #ccc;
  background-color: #333;
}

.mail {
  font-size: 15px;
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(0,0,0,0.70);
  color:#ccc;
  margin: 10px;
  padding: 15px;
  justify-content: center;
  width: 100%;
}

.cards-container {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .image-container {
    flex: 1;
  }

  .header-description {
    flex: 3;
  }
}

.profile-picture {
  border-radius: 5px;
  width: 100%;
}

.certifications {
  margin-top: .5rem;
}

.certifications-items {
  display: flex;
}

.certifications a {
  background-color: white;
  margin-right: .5rem;
  display: flex;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.certifications a:hover,
.certifications a:focus {
  border: none;
}

.certifications img {
  width: 100%;
} 

.card-icon {
  font-size: 25px;
}

.topics li {
  list-style: circle;
  margin: 5px 0;
}

h1 {
 color:#B0C0CC;
 font-variant: small-caps;
 letter-spacing: 4px;
 display: flex;
 justify-content: space-between;
 font-weight: 300;
 align-items: center;
}

h2 {
  color:#B0C0CC;
  font-size: 40px !important;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  text-transform: capitalize;
}

.title-topic {
  display: initial;
}

h4 {
  font-size: 22px;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 2px;
}

.info-line {
  font-size: 17px;
  letter-spacing: 1px;
  font-variant: small-caps;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info.age {
  min-width: 250px;
}

.info-title {
  font-weight: 600;
}

.tags {
  letter-spacing: 1.5px;
  font-family: courier new;
  font-size:17px;
}

.tag {
  background-color:#eee;
}

.folders {
  letter-spacing: 3px;
  font-variant: small-caps;
  font-weight:400;
}

.folders li {
  width: 100%;
}

.folder {
  color: #222;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.folders-container {
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .work-experience {
    flex: 3;
  }

  .folders-container {
    flex: 1;
  }
}

.container-stars {
  min-width: 107px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-items a {
  max-width: 320px;
}

.portfolio-items img {
  width: 100%;
}

.hover {
  position: relative;
  background: none !important;
}

.hover .cover-black {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.70);
  width: 100%;
  height: 100%;
}

.hover:hover .cover-black {
  display: block;
}

.hover figcaption p {
  text-transform: uppercase;
}