footer {
	background-color: #4173ba;
	padding: 15px;
	margin-top: 25px;
	text-align: center; 

	a {
		display: inline-block;
		color: #fff;
		padding: 5px;
	}
	span {
		padding: 5px;

		&:before{
			font-size: 28px;
		}
	}
	.link-rede {
		display: none; 
		@media (min-width: 560px){
			display: inline-block;
		}
	}

}