main{
	.panel-group {
		.panel{
			margin-bottom: 20px;
		}
	}

	.panel-heading {
		img{
			display: inline-block;
			height: 30px;
		}

		h4 {
			display: inline-block;
			padding: 10px 10px 0 10px;
			font-weight: bold;
		}
	}

	.panel {
		a {
			font-weight: bold;
			color: #286090;

			&:hover{
				text-decoration: none;
			}
		}
	}

	.container-resources {
	    display: flex;
	    align-items: baseline;
	    justify-content: space-around;
	    flex-wrap: wrap;
	    margin-top: 5px;

	    .curriculo {
			font-weight: bold;
			text-align: center;

			a {
				color: #4173ba;
			}
		}
	}

	.container-columns{
		display: flex;
		flex-wrap: wrap;
	}
	.container-columns > div {
		display: flex;
		flex-direction: column;
		flex: 1;
		min-width: 320px;
	}
	.container-panel{
		margin-right: 0;
		margin-left: 0;
		background-color: #fff;
		border-color: #ddd;
		border-width: 1px;
		border-radius: 4px 4px 0 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		position: relative;
		padding: 15px;
		border-color: #e5e5e5 #eee #eee;
		border-style: solid;
		box-sizing: border-box;
	}
	.education {
		background-color: #d2d3d7;

		.glyphicon-globe{
			font-size: 30px;
			vertical-align: middle;
			color: #668f69;
		}
	}
	.education-title{
		text-align: right;
	}
	a {
		text-decoration: none;
		color: #000;
	}

	.skills {
		text-align: center;
		color: #000;
		padding: 10px;

		table{
			background-color: #d2d3d7;
		}

		th, td {
			vertical-align: middle;
			text-align: center;
		}

		span:before {
			font-size: 30px;
		}

		span[class^='icon-adb'], .glyphicon,
		span[class^='office365-'] {
			font-size: 25px;
		}

		.icon-webdriver,
		.icon-sap-hybris,
		.icon-spring {
			height: 30px;
		}
	}
	span.nivel {
		border: 1px solid #000;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		display: inline-block;
		box-shadow: 2px 1px 1px #000;
	}

	span.nivel-completo {
		background-color: #000;
	}

	tfoot {
	 	td {
			font-weight: bold;
		}
	} 

	nav {
		.btn-primary {
			margin-top: 9px;
		}

	} 
}